name: Create ZIP
on:
  push:
    branches:
      - main

jobs:
  zip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload ZIP artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension
          path: .
